.gallery {
  padding: 110px 0 140px 0;

  h2:before {
    display: block;
    content: "____";
    color: #2c4058;
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 40px;
  }

  .gallery-row {
    display: flex;
    justify-content: space-between;

    .gallery-row:not(:first-child) {
      min-width: 580px;
    }

    .gallery-row:last-child {
      margin-top: 5px;
    }
  }
  a {
    display: block;
    width: 190px;
    height: 50px;
    border: 1px solid $black;
    color: $black;
    line-height: 50px;
    text-align: center;
    margin: 60px auto 0;
  }

}