.news {
  padding: 30px 0;

  .news-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 702px) {
      flex-direction: column;
    }

    a {
      transition: 0.3s;
    }

    a:hover {
      color: #666666;
    }

    article:hover {
      border-color: gray;
    }

    h2 {
      text-align: left;

      @media screen and (max-width: 576px) {
        text-align: center;
      }
    }

    h3 {
      margin: 0 0 10px;

      @media screen and (max-width: 576px) {
        margin: 5px 0;
      }
    }

    article {
      background-color: #fff;
      padding: 10px;
      margin: 15px 0;
      border: 1px solid transparent;
      border-radius: 10px;
      transition: 0.5s;

      p {
        //text-overflow: ellipsis;
      }

      .article-date {
        font-size: 12px;
        text-align: right;
      }

      a:hover {
        color: #666666;
      }
    }

    .news-container__articles-wrapper {
      width: 47%;

      @media screen and (max-width: 702px) {
        width: 100%;
      }

      .btn-green {
        display: none;

        @media screen and (max-width: 702px) {
          display: block;
        }
      }

      .news-container__articles {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 576px) {
          display: flex;
          flex-direction: column;
        }

        article {
          width: 48%;

          @media screen and (max-width: 576px) {
            width: 100%;
          }
        }
      }
    }
  }

  .news-container__news-wrapper {
    width: 50%;

    @media screen and (max-width: 702px) {
      width: 100%;
    }

    img {
      float: left;
      width: 30%;
      margin-right: 10px;

      @media screen and (max-width: 576px) {
        margin-right: 10px;
      }

    }

    article {
      //margin: 15px 0;
      //padding-bottom: 20px;
      //overflow: hidden;
      //height: 140px;
    }
  }

  .btn-green {
    @media screen and (max-width: 702px) {
      display: none;
    }
  }
}


